.AnswerItem {
    color: #000;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 15px 5px;
    cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
    .AnswerItem:hover {
        background: rgba(255, 193, 7, .3);
        transition: background .3s ease-in-out;
    }
}

.AnswerItem.success {
    color: #fff;
    background: #28a745;
}

.AnswerItem.error {
    color: #fff;
    background: #dc3545;
}
